a {
  text-decoration: none;
  cursor: default;
}

.search {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 5px;
  padding: 8px 10% 8px 15px;
}

.search:first-child div {
  margin-right: 20px;
}

.mode {
  display: flex;
  align-items: center;
}

.cardsApp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
  height: 450px;
  margin: 20px 60px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
}

.cards img {
  width: 100%;
  height: 235px;
  border-radius: 5px;
}

.cards-info {
  padding-left: 2rem;
}

.cardList {
  margin: 30px 60px;
}

.cardList button {
  border: 0;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  font-size:17px;
  padding:10px 40px;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.info {
  width: 50%;
  margin-left: 6em;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.languages p, .currencies p {
  display: inline-block;
  margin-right: 10px;
}

.btn-section {
  max-width: 500px;
}

.btn-section button {
  margin: 20px 20px 0 0;
  padding: 7px 50px;
}